<!DOCTYPE html>
<html xmls:th="https://thymeLeaf.org">

<head th:replace="plantilla/template :: head">
</head>

<body>
	<header th:replace="plantilla/template :: header"></header>
	<br>

	<div class="container">
		<table class="table">
			<thead class="bg-dark text-white">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Fecha</th>
					<th scope="col">Turno</th>
					<th scope="col">Cant Estudiantes</th>
					<th scope="col">Materia</th>
					<th scope="col">Profesor</th>
					<th scope="col">Carrera</th>
					<th scope="col">Observaciones</th>
					<th scope="col">Aula</th>
					<th scope="col">Edificio</th>
					<th scope="col">Codigo Curso</th>
					<th scope="col">Reservar Espacio</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c:${pedidosCurso}">
					<th scope="row" th:text="${c.id_nota}"></th>
					<td th:text="${c.fecha}"></td>
					<td th:text="${c.turno}"></td>
					<td th:text="${c.cant_estudiantes}"></td>
					<td th:text="${c.materia.materia_nombre}"></td>
					<td th:text="${c.materia.profesor}"></td>
					<td th:text="${c.materia.carrera.carrera_nombre}"></td>
					<td th:text="${c.observaciones}"></td>
					<td th:text="${c.aula.numero}"></td>
					<td th:text="${c.aula.edificio.edificio}"></td>
					<td th:text="${c.cod_curso}"></td>

					<td>
						<a class="btn btn-success btn-sm" th:href="@{/views/pedidosCurso/reserve/} + ${c.id_nota}"
							th:text="'Aprobar'" title="Aprobar solicitud"
							onclick="return confirm('Desea aprobar esta solicitud?')">
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>




	<footer th:replace="plantilla/template :: footer"></footer>
</body>

</html>