<!DOCTYPE html>
<html xmls:th="https://thymeLeaf.org">

<head th:fragment="head">
	<meta charset="UTF-8" />
	<title>UNLa</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<!--HEADER-->
	<header th:fragment="header">
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		
			<div class="container" style="margin-left: 0%">
			
				<a class="navbar-brand" href="#"><img th:src="@{/img/UNLa.png}" width="30px"></a>
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<!--ENLACES DEL MENU-->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/index/}">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/views/usuarios/}">Lista usuarios</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/views/usuarios/create}">Crear usuario</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/views/perfiles/}">Lista perfiles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/views/perfiles/create}">Crear perfil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/views/pedidos/create}">Solicitar espacio Final</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/views/pedidosCurso/create}">Solicitar espacio Curso</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/views/pedidos/}">Solicitudes de espacio Final</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/views/pedidosCurso/}">Solicitudes de espacio Curso</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/views/espacios/}">Espacios reservados</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/views/espacios/create}">Crear espacios</a>
						</li>
						
					</ul>
				</div>
				<div>
					<form th:action="@{/logout}" method="post">
						<input class="btn btn-success" style="cursor: pointer; ;margin-left:440%; background-color:#169277; color:white; letter-spacing:1px" type="submit" value="Cerrar sesión" />
					</form>
				</div>
											
			</div>
		</nav>
	</header>
	<!--CONTENIDO-->
	<div class="container">

	</div>
	<!--FOOTER-->
	<footer th:fragment="footer" class="bg-dark text-white text-center fixed-bottom">
		<div class="container">
			<p>UNLa | OO2 | Grupo 8 </p>
		</div>
	
		<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</footer>

</body>

</html>