<!DOCTYPE html>
<html xmls:th="https://thymeLeaf.org">

<head th:replace="plantilla/template :: head">
</head>

<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container form">
		<br>
		<div class="card bg-light">

			<div class="card-header bg-dark text-white" th:text="${titulo}">
				<h1>Crear Usuario</h1>
			</div>


			<div class="card-body">
				<form th:action="@{/views/usuarios/save}" th:object="${usuario}" method="post">

					<div class="form-group row">
						<input type="hidden" th:field="*{idUsuario}">
						<label for="nombre" class="col-md-4">Nombre</label>
						<input type="text" th:field="*{nombre}" class="form-control form-control-sm col-md-6"
							id="nombre" placeholder="Nombre">
						<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
							th:errors="*{nombre}"></small>
					</div>
					<div class="form-group row">
						<label for="apellido" class="col-md-4">Apellido</label>
						<input type="text" th:field="*{apellido}" class="form-control form-control-sm col-md-6"
							id="apellido" placeholder="Apellido">
						<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
							th:errors="*{apellido}"></small>
					</div>
					<div class="form-group row">
						<label for="tipoDocumento" class="col-md-6">Tipo documento</label>
						<input type="text" th:field="*{tipoDoc}" class="form-control form-control-sm col-md-6"
							id="tipoDocumento" placeholder="Tipo documento">
						<small class="form-text text-danger" th:if="${#fields.hasErrors('tipoDoc')}"
							th:errors="*{tipoDoc}"></small>
					</div>
					<div class="form-group row">
						<label for="documento" class="col-md-4">Documento</label>
						<input type="text" th:field="*{nroDoc}" class="form-control form-control-sm col-md-6"
							id="documento" placeholder="Documento">
						<small class="form-text text-danger" th:if="${#fields.hasErrors('nroDoc')}"
							th:errors="*{nroDoc}"></small>
					</div>

					<div class="form-group row">
						<label for="correo" class="col-md-4">Correo</label>
						<input type="text" th:field="*{correo}" class="form-control form-control-sm col-md-6"
							id="correo" placeholder="Correo">
						<small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}"
							th:errors="*{correo}"></small>
					</div>

					<div class="form-group row">
						<label for="usuario" class="col-md-4">Usuario</label>
						<input type="text" th:field="*{nombreUsuario}" class="form-control form-control-sm col-md-6"
							id="usuario" placeholder="Usuario">
						<small class="form-text text-danger" th:if="${#fields.hasErrors('nombreUsuario')}"
							th:errors="*{nombreUsuario}"></small>
					</div>

					<div class="form-group row">
						<label for="password" class="col-md-4">Password</label>
						<input type="password" th:field="*{password}"  class="form-control form-control-sm col-md-6"
							id="password" placeholder="Password">
						<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"></small>
					</div>

					<div class="form-group row">
						<label for="perfil" class="col-md-4">Perfil</label>
						<select th:field="*{perfil}" class="form-control form-control-sm col-md-6" id="perfil">
							<option th:each="perfil:${perfiles}" th:value="${perfil.id_perfil}"
								th:text="${perfil.nombrePerfil}"></option>
						</select>
					</div>

					<br>

					<div class="card-footer bg-dark text-center">

						<input type="submit" class="btn btn-primary btn-sm" value="Crear">
					</div>

				</form>
			</div>

		</div>
	</div>


	<footer th:replace="plantilla/template :: footer"></footer>
</body>

</html>